:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 428px;
  height: 926px;
  margin: 0 auto;
  background: linear-gradient(180deg, #000000, #002e38);
  overflow: hidden;
  border-radius: 40px;
}
.flex-row-bfe {
  position: relative;
  width: 383px;
  height: 43px;
  margin: 62px 0 0 13px;
  z-index: 13;
}
.rectangle {
  position: absolute;
  width: 155px;
  height: 43px;
  top: 0;
  left: 0;
  background: rgba(0, 33, 40, 0);
  border: 1px solid #ffffff;
  z-index: 2;
  border-radius: 8px;
}
.ellipse {
  position: absolute;
  width: 40px;
  height: 41px;
  top: 0;
  left: 8px;
  background: url(./assets/images/aeca93ab-5f78-4c38-95c7-158c1f52ef18.png)
    no-repeat center;
  background-size: cover;
  filter: blur(4.1px);
  z-index: 3;
}
.polygon {
  position: absolute;
  width: 40px;
  height: 41px;
  top: 0;
  left: 8px;
  background: url(./assets/images/a75ad433c440d6dfdca64352d97f174c6a80cca5.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
  border-radius: 5px;
}
.ceo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 39px;
  height: 16px;
  top: 12px;
  left: 105px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.301px;
  text-align: center;
  white-space: nowrap;
  z-index: 6;
}
.henry {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 33px;
  height: 16px;
  top: 12px;
  left: 62px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.301px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;
}
.bronze {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 16px;
  top: 3px;
  left: 237px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 15.961px;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
}
.slash {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 16px;
  top: 3px;
  left: 349px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 15.961px;
  text-align: center;
  white-space: nowrap;
  z-index: 11;
}
.d-b {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 6px;
  left: 283px;
  background: url(./assets/images/70786e4d-3b96-448a-aae4-c3378034bdd7.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
  border-radius: 50%;
}
.arrow {
  position: absolute;
  width: 18px;
  height: 0px;
  top: 11px;
  left: 303px;
  background: url(./assets/images/6a457aef-b5ee-4444-bafc-be3291b6c368.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.rectangle-1 {
  position: absolute;
  width: 161px;
  height: 19px;
  top: 20px;
  left: 222px;
  background: url(./assets/images/bd7e045b-df46-4bf3-b3e3-3949025963d2.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
  border-radius: 18px;
}
.rectangle-2 {
  position: relative;
  width: 17px;
  height: 19px;
  margin: 0px 0 0 0px;
  background: url(./assets/images/07a95fe6-e819-4da4-a616-0f68ece5d0f5.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
  border-radius: 0 18px 18px 0;
}
.flex-row-ec {
  position: relative;
  width: 369px;
  height: 32px;
  margin: 20px 0 0 13px;
  z-index: 17;
}
.d-b-3 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 314px;
  background: url(./assets/images/cf447994-9c9c-4715-8aaa-b788fc6860f5.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
  border-radius: 50%;
}
.profit-o-hr {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 75px;
  height: 20px;
  top: 6px;
  left: 0;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 19.951px;
  text-align: center;
  white-space: nowrap;
  z-index: 16;
}
.empty {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 7px;
  height: 16px;
  top: 8px;
  left: 362px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 15.961px;
  text-align: center;
  white-space: nowrap;
  z-index: 17;
}
.rectangle-4 {
  position: relative;
  width: 399px;
  height: 639px;
  margin: 17px 0 0 15px;
  font-size: 0px;
  background: rgba(217, 217, 217, 0);
  border: 2px solid #ffffff;
  z-index: 29;
  overflow: visible auto;
  border-radius: 10px;
}
.invite-friends-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 343px;
  height: 64px;
  margin: 15px 0 0 28px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 63.844px;
  text-align: center;
  white-space: nowrap;
  z-index: 30;
}
.bonus-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 342px;
  height: 23px;
  margin: 10px 0 0 28px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.611px;
  text-align: center;
  white-space: nowrap;
  z-index: 31;
}
.frame {
  position: relative;
  width: 354px;
  height: 511px;
  margin: 18px 0 0 23px;
  z-index: 32;
  overflow: hidden;
}
.group {
  position: relative;
  width: 354px;
  height: 102px;
  margin: 0 0 0 0;
  z-index: 33;
}
.download-removebg-preview {
  position: absolute;
  width: 119px;
  height: 86px;
  top: 0;
  left: 0;
  background: url(./assets/images/94983986-4e6f-4f04-9e2e-0d8d0b8a3e58.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.invite-one-friend {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 30px;
  left: 131px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.611px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.rectangle-5 {
  position: absolute;
  width: 335px;
  height: 70px;
  top: 32px;
  left: 19px;
  background: url(./assets/images/dcdb6655-4b73-4796-bf13-0ed90b6f18da.png)
    no-repeat center;
  background-size: cover;
  z-index: 34;
  border-radius: 20px;
}
.d-b-6 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 58px;
  left: 131px;
  background: url(./assets/images/5b0f5d2a-f92c-45f4-aaef-de2edf7301ed.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
  border-radius: 50%;
}
.button-rectangle {
  position: absolute;
  width: 80px;
  height: 24px;
  top: 63px;
  left: 253px;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: cover;
  border: none;
  z-index: 39;
  border-radius: 7px;
  box-shadow: 4px 7px 16.6px 0 #000000;
}
.claim {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 67px;
  left: 275px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.comma-1-000 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 24px;
  top: 68px;
  left: 169px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 900;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 38;
}
.group-7 {
  position: relative;
  width: 354px;
  height: 102px;
  margin: 8px 0 0 0;
  z-index: 41;
}
.download-removebg-preview-8 {
  position: absolute;
  width: 119px;
  height: 86px;
  top: 0;
  left: 0;
  background: url(./assets/images/ee3e19df-2046-47c5-b9a4-d893193e82ef.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
}
.invite-one-friend-9 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 30px;
  left: 131px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.611px;
  text-align: left;
  white-space: nowrap;
  z-index: 45;
}
.rectangle-a {
  position: absolute;
  width: 335px;
  height: 70px;
  top: 32px;
  left: 19px;
  background: url(./assets/images/aaa7fd72-dec1-4f05-8273-d61e1b9a3acd.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
  border-radius: 20px;
}
.d-b-b {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 58px;
  left: 131px;
  background: url(./assets/images/ea27a0e2-2b02-4eaa-bffe-6c518d5ba31b.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
  border-radius: 50%;
}
.button-rectangle-c {
  position: absolute;
  width: 80px;
  height: 24px;
  top: 63px;
  left: 253px;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: cover;
  border: none;
  z-index: 47;
  border-radius: 7px;
  box-shadow: 4px 7px 16.6px 0 #000000;
}
.claim-d {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 67px;
  left: 275px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.comma-1-000-e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 24px;
  top: 68px;
  left: 169px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 900;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 46;
}
.group-f {
  position: relative;
  width: 354px;
  height: 102px;
  margin: 8px 0 0 0;
  z-index: 49;
}
.download-removebg-preview-10 {
  position: absolute;
  width: 119px;
  height: 86px;
  top: 0;
  left: 0;
  background: url(./assets/images/c51627d4-c32d-4ec0-8e51-7670ae6a7c62.png)
    no-repeat center;
  background-size: cover;
  z-index: 52;
}
.invite-one-friend-11 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 30px;
  left: 131px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.611px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.rectangle-12 {
  position: absolute;
  width: 335px;
  height: 70px;
  top: 32px;
  left: 19px;
  background: url(./assets/images/38afb375-ed4f-4b8e-a95c-2fba70d3802b.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
  border-radius: 20px;
}
.d-b-13 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 58px;
  left: 131px;
  background: url(./assets/images/1f40f88a-34ff-4bcf-8b58-8664f1c38817.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
  border-radius: 50%;
}
.button-rectangle-14 {
  position: absolute;
  width: 80px;
  height: 24px;
  top: 63px;
  left: 253px;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: cover;
  border: none;
  z-index: 55;
  border-radius: 7px;
  box-shadow: 4px 7px 16.6px 0 #000000;
}
.claim-15 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 67px;
  left: 275px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 56;
}
.comma-1-000-16 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 24px;
  top: 68px;
  left: 169px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 900;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 54;
}
.group-17 {
  position: relative;
  width: 354px;
  height: 102px;
  margin: 8px 0 0 0;
  z-index: 57;
}
.download-removebg-preview-18 {
  position: absolute;
  width: 119px;
  height: 86px;
  top: 0;
  left: 0;
  background: url(./assets/images/17bb0a4e-eaeb-4f3c-88d5-4fcb2356ac48.png)
    no-repeat center;
  background-size: cover;
  z-index: 60;
}
.invite-one-friend-19 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 30px;
  left: 131px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.611px;
  text-align: left;
  white-space: nowrap;
  z-index: 61;
}
.rectangle-1a {
  position: absolute;
  width: 335px;
  height: 70px;
  top: 32px;
  left: 19px;
  background: url(./assets/images/297264ba-d55d-462a-aefc-c9e7a0cb987d.png)
    no-repeat center;
  background-size: cover;
  z-index: 58;
  border-radius: 20px;
}
.pic-a {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 58px;
  left: 131px;
  background: url(./assets/images/a1746334-598f-4f49-b754-583b03f4413f.png)
    no-repeat center;
  background-size: cover;
  z-index: 59;
  border-radius: 50%;
}
.rectangle-button {
  position: absolute;
  width: 80px;
  height: 24px;
  top: 63px;
  left: 253px;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: cover;
  border: none;
  z-index: 63;
  border-radius: 7px;
  box-shadow: 4px 7px 16.6px 0 #000000;
}
.claim-span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 67px;
  left: 275px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 64;
}
.comma-span {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 24px;
  top: 68px;
  left: 169px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 900;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 62;
}
.group-div {
  position: relative;
  width: 354px;
  height: 102px;
  margin: 8px 0 0 0;
  z-index: 65;
}
.download-preview-div {
  position: absolute;
  width: 119px;
  height: 86px;
  top: 0;
  left: 0;
  background: url(./assets/images/e4647556-f011-48b1-9217-49f46bdc5054.png)
    no-repeat center;
  background-size: cover;
  z-index: 68;
}
.invite-friend-span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 30px;
  left: 131px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.611px;
  text-align: left;
  white-space: nowrap;
  z-index: 69;
}
.rectangle-div {
  position: absolute;
  width: 335px;
  height: 70px;
  top: 32px;
  left: 19px;
  background: url(./assets/images/fa0b7952-b66c-4e5a-b6fc-e73f9c11cb3c.png)
    no-repeat center;
  background-size: cover;
  z-index: 66;
  border-radius: 20px;
}
.d-b-div {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 58px;
  left: 131px;
  background: url(./assets/images/d0d2f959-1f84-40ae-b83b-84087e2c1e12.png)
    no-repeat center;
  background-size: cover;
  z-index: 67;
  border-radius: 50%;
}
.rectangle-div-1b {
  position: absolute;
  width: 80px;
  height: 24px;
  top: 63px;
  left: 253px;
  background: url(./assets/images/f67f1182-83ce-409a-8534-0438f204c9ff.png)
    no-repeat center;
  background-size: cover;
  z-index: 71;
  border-radius: 7px;
}
.claim-span-1c {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 67px;
  left: 275px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 72;
}
.comma-span-1d {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 24px;
  top: 68px;
  left: 169px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 900;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 70;
}
.group-div-1e {
  position: relative;
  width: 354px;
  height: 102px;
  margin: 8px 0 0 0;
  z-index: 73;
}
.download-preview-div-1f {
  position: absolute;
  width: 119px;
  height: 86px;
  top: 0;
  left: 0;
  background: url(./assets/images/de35bfbf-0cf1-4481-85bb-3828ff504f36.png)
    no-repeat center;
  background-size: cover;
  z-index: 76;
}
.invite-friend-span-20 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 30px;
  left: 131px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.611px;
  text-align: left;
  white-space: nowrap;
  z-index: 77;
}
.rectangle-div-21 {
  position: absolute;
  width: 335px;
  height: 70px;
  top: 32px;
  left: 19px;
  background: url(./assets/images/f80fc1bd-1627-4abc-9e9c-26689ccb140b.png)
    no-repeat center;
  background-size: cover;
  z-index: 74;
  border-radius: 20px;
}
.d-b-div-22 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 58px;
  left: 131px;
  background: url(./assets/images/aeb1982c-559d-49bf-96fc-5c7bee758aa8.png)
    no-repeat center;
  background-size: cover;
  z-index: 75;
  border-radius: 50%;
}
.rectangle-div-23 {
  position: absolute;
  width: 80px;
  height: 24px;
  top: 63px;
  left: 253px;
  background: url(./assets/images/b1e0a384-d243-4464-b015-4e16fb0fd6da.png)
    no-repeat center;
  background-size: cover;
  z-index: 79;
  border-radius: 7px;
}
.claim-span-24 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 67px;
  left: 275px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 80;
}
.comma-span-25 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 24px;
  top: 68px;
  left: 169px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 900;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 78;
}
.group-div-26 {
  position: relative;
  width: 354px;
  height: 102px;
  margin: 8px 0 0 0;
  z-index: 81;
}
.download-preview-div-27 {
  position: absolute;
  width: 119px;
  height: 86px;
  top: 0;
  left: 0;
  background: url(./assets/images/a3ceba2a-574c-4e85-8b04-a43362354b81.png)
    no-repeat center;
  background-size: cover;
  z-index: 84;
}
.invite-friend-span-28 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 30px;
  left: 131px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.611px;
  text-align: left;
  white-space: nowrap;
  z-index: 85;
}
.rectangle-div-29 {
  position: absolute;
  width: 335px;
  height: 70px;
  top: 32px;
  left: 19px;
  background: url(./assets/images/ddf8fb6b-84d7-4a2c-8f9a-a0afece15cff.png)
    no-repeat center;
  background-size: cover;
  z-index: 82;
  border-radius: 20px;
}
.d-b-div-2a {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 58px;
  left: 131px;
  background: url(./assets/images/1db9bf8d-6d96-4d9a-8c3d-80aed5509157.png)
    no-repeat center;
  background-size: cover;
  z-index: 83;
  border-radius: 50%;
}
.rectangle-div-2b {
  position: absolute;
  width: 80px;
  height: 24px;
  top: 63px;
  left: 253px;
  background: url(./assets/images/358252a0-777b-41ae-926c-37317f5060c8.png)
    no-repeat center;
  background-size: cover;
  z-index: 87;
  border-radius: 7px;
}
.claim-2c {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 67px;
  left: 275px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 88;
}
.comma {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 24px;
  top: 68px;
  left: 169px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 900;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 86;
}
.group-2d {
  position: relative;
  width: 354px;
  height: 102px;
  margin: 8px 0 0 0;
  z-index: 89;
}
.download-removebg-preview-2e {
  position: absolute;
  width: 119px;
  height: 86px;
  top: 0;
  left: 0;
  background: url(./assets/images/c84e7ac5-86a3-4864-92c9-f0c670cc93d0.png)
    no-repeat center;
  background-size: cover;
  z-index: 92;
}
.invite-one-friend-2f {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 30px;
  left: 131px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.611px;
  text-align: left;
  white-space: nowrap;
  z-index: 93;
}
.rectangle-30 {
  position: absolute;
  width: 335px;
  height: 70px;
  top: 32px;
  left: 19px;
  background: url(./assets/images/f3845686-81a9-42ea-8109-cef35dbe0bed.png)
    no-repeat center;
  background-size: cover;
  z-index: 90;
  border-radius: 20px;
}
.d-b-31 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 58px;
  left: 131px;
  background: url(./assets/images/81cd388f-f9c6-4dba-af6f-5b6875532d35.png)
    no-repeat center;
  background-size: cover;
  z-index: 91;
  border-radius: 50%;
}
.rectangle-32 {
  position: absolute;
  width: 80px;
  height: 24px;
  top: 63px;
  left: 253px;
  background: url(./assets/images/26ce935d-1d88-4e41-9ccb-e8711db1c329.png)
    no-repeat center;
  background-size: cover;
  z-index: 95;
  border-radius: 7px;
}
.claim-33 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 67px;
  left: 275px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 96;
}
.comma-34 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 24px;
  top: 68px;
  left: 169px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 900;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 94;
}
.group-35 {
  position: relative;
  width: 354px;
  height: 102px;
  margin: 8px 0 0 0;
  z-index: 97;
}
.download-removebg-preview-36 {
  position: absolute;
  width: 119px;
  height: 86px;
  top: 0;
  left: 0;
  background: url(./assets/images/fad56ebc-2ad7-4adc-a3c6-e9f4f44cbcf0.png)
    no-repeat center;
  background-size: cover;
  z-index: 100;
}
.invite-one-friend-37 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 30px;
  left: 131px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.611px;
  text-align: left;
  white-space: nowrap;
  z-index: 101;
}
.rectangle-38 {
  position: absolute;
  width: 335px;
  height: 70px;
  top: 32px;
  left: 19px;
  background: url(./assets/images/9e615ad3-285b-426a-993e-97e87e092a69.png)
    no-repeat center;
  background-size: cover;
  z-index: 98;
  border-radius: 20px;
}
.d-b-39 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 58px;
  left: 131px;
  background: url(./assets/images/c5199e53-351f-4e36-bf07-1e18f15a0f0c.png)
    no-repeat center;
  background-size: cover;
  z-index: 99;
  border-radius: 50%;
}
.rectangle-3a {
  position: absolute;
  width: 80px;
  height: 24px;
  top: 63px;
  left: 253px;
  background: url(./assets/images/f87e6f30-fd41-4f7f-89c4-660f65706684.png)
    no-repeat center;
  background-size: cover;
  z-index: 103;
  border-radius: 7px;
}
.claim-3b {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 67px;
  left: 275px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 104;
}
.comma-3c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 24px;
  top: 68px;
  left: 169px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 900;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 102;
}
.group-3d {
  position: relative;
  width: 354px;
  height: 102px;
  margin: 8px 0 0 0;
  z-index: 105;
}
.download-removebg-preview-3e {
  position: absolute;
  width: 119px;
  height: 86px;
  top: 0;
  left: 0;
  background: url(./assets/images/0ff05915-39e5-4d24-8543-5c7137659de3.png)
    no-repeat center;
  background-size: cover;
  z-index: 108;
}
.invite-one-friend-3f {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 30px;
  left: 131px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.611px;
  text-align: left;
  white-space: nowrap;
  z-index: 109;
}
.rectangle-40 {
  position: absolute;
  width: 335px;
  height: 70px;
  top: 32px;
  left: 19px;
  background: url(./assets/images/3cbdacb0-df00-4f63-ab51-65273331b42b.png)
    no-repeat center;
  background-size: cover;
  z-index: 106;
  border-radius: 20px;
}
.d-b-41 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 58px;
  left: 131px;
  background: url(./assets/images/99b32b96-d37d-4053-aa22-a14e18a3c00e.png)
    no-repeat center;
  background-size: cover;
  z-index: 107;
  border-radius: 50%;
}
.rectangle-42 {
  position: absolute;
  width: 80px;
  height: 24px;
  top: 63px;
  left: 253px;
  background: url(./assets/images/f4a18578-7390-4beb-b52a-302e870312e3.png)
    no-repeat center;
  background-size: cover;
  z-index: 111;
  border-radius: 7px;
}
.claim-43 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 67px;
  left: 275px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 112;
}
.span-comma {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 24px;
  top: 68px;
  left: 169px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 900;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 110;
}
.div-group {
  position: relative;
  width: 354px;
  height: 102px;
  margin: 8px 0 0 0;
  z-index: 113;
}
.div-download-removebg {
  position: absolute;
  width: 119px;
  height: 86px;
  top: 0;
  left: 0;
  background: url(./assets/images/1c67f795-4481-4421-a4de-63002e85db71.png)
    no-repeat center;
  background-size: cover;
  z-index: 116;
}
.span-invite-one {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 30px;
  left: 131px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 22.611px;
  text-align: left;
  white-space: nowrap;
  z-index: 117;
}
.div-rectangle {
  position: absolute;
  width: 335px;
  height: 70px;
  top: 32px;
  left: 19px;
  background: url(./assets/images/2a80e539-cda0-4c0b-b0ed-977a51e089ba.png)
    no-repeat center;
  background-size: cover;
  z-index: 114;
  border-radius: 20px;
}
.div-d-b {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 58px;
  left: 131px;
  background: url(./assets/images/63caaca7-42a9-48da-b6c7-0c5d1f636fb0.png)
    no-repeat center;
  background-size: cover;
  z-index: 115;
  border-radius: 50%;
}
.div-rectangle-44 {
  position: absolute;
  width: 80px;
  height: 24px;
  top: 63px;
  left: 253px;
  background: url(./assets/images/1f66d2f7-deb9-4470-84fb-647d3e13fdd7.png)
    no-repeat center;
  background-size: cover;
  z-index: 119;
  border-radius: 7px;
}
.span-claim {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 67px;
  left: 275px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 120;
}
.span-comma-45 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 24px;
  top: 68px;
  left: 169px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 900;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 118;
}
.div-rectangle-46 {
  position: relative;
  width: 476px;
  height: 84px;
  margin: 29px 0 0 -24px;
  background: #072434;
  z-index: 18;
  overflow: visible auto;
}
.div-frame {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 64px;
  position: relative;
  width: 362.47px;
  margin: 0 0 0 49px;
  z-index: 20;
}
.div-group-47 {
  flex-shrink: 0;
  position: relative;
  width: 47.47px;
  height: 44.601px;
  background: url(./assets/images/10032399-9801-405f-ab0c-86767447110e.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
}
.div-friends {
  flex-shrink: 0;
  position: relative;
  width: 44px;
  height: 27.133px;
  background: url(./assets/images/0337d5b6-cf9f-443c-9aef-c849fc4b3033.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
}
.div-vector {
  flex-shrink: 0;
  position: relative;
  width: 47px;
  height: 30.489px;
  background: url(./assets/images/8e5a1be4-80ce-4f67-bed5-f4cf97033be8.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
}
.div-d-b-48 {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  background: url(./assets/images/ee68f0d6-2832-4c8b-9246-92c791e607a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
  border-radius: 50%;
}
.div-flex-row-fa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 363px;
  height: 19px;
  margin: -4.601px 0 0 57px;
  z-index: 28;
}
.span-mine {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 34px;
  height: 19px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 18.621px;
  text-align: center;
  white-space: nowrap;
  z-index: 25;
}
.span-friends {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 49px;
  height: 19px;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 18.621px;
  text-align: center;
  white-space: nowrap;
  background: linear-gradient(90deg, #15cdff, #fa0aff);
  z-index: 26;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.span-tasks {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 37px;
  height: 19px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 18.621px;
  text-align: center;
  white-space: nowrap;
  z-index: 27;
}
.span-airdrop {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 51px;
  height: 19px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 18.621px;
  text-align: center;
  white-space: nowrap;
  z-index: 28;
}
.div-rectangle-49 {
  position: absolute;
  width: 451px;
  height: 522px;
  top: 404px;
  left: -13px;
  background: url(./assets/images/11cfea06-fb72-43c9-805a-f13eebfa83b3.png)
    no-repeat center;
  background-size: cover;
}
