:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

.trophy{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f00;
  position: absolute;
  top: 0;
  
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 100vw;
  height: 926px;
  margin: 0 auto;
  background: linear-gradient(180deg, #000000, #002e38);
  overflow: hidden;
  /* border-radius: 40px; */
}
.flex-row-fbeb {
  position: relative;
  width: 90%;
  height: 43px;
  /* margin: 62px 0 0 13px; */
  z-index: 13;
}
.rectangle {
  position: absolute;
  width: 50%;
  height: 43px;
  top: 0;
  left: 0;
  background: rgba(0, 33, 40, 0);
  border: 1px solid #ffffff;
  z-index: 2;
  border-radius: 8px;
}
.ellipse {
  position: absolute;
  width: 40px;
  height: 41px;
  top: 0;
  left: 8px;
  background: url(./Home/assets/images/72b8954e-3b55-4885-9498-bd3759e5a289.png)
    no-repeat center;
  background-size: cover;
  filter: blur(4.1px);
  z-index: 3;
}
.polygon {
  position: absolute;
  width: 40px;
  height: 41px;
  top: 0;
  left: 8px;
  background: url(./icon.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
  border-radius: 5px;
}
.ceo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 39px;
  height: 16px;
  top: 12px;
  left: 105px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.301px;
  text-align: center;
  white-space: nowrap;
  z-index: 6;
}
.henry {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 33px;
  height: 16px;
  top: 12px;
  left: 62px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.301px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;
}
.bronze {
  display: flex;
  /* align-items: flex-start;
  justify-content: center; */
  /* position: absolute; */
  width: 40px;
  height: 16px;
  /* top: 3px;
  left: 237px; */
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 15.961px;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
}
.slash {
  display: flex;
  /* align-items: flex-start;
  justify-content: center;*/
  /* position: absolute;  */
  width: 20px;
  height: 16px;
  /* top: 3px;
  left: 80vw; */
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 15.961px;
  text-align: center;
  white-space: nowrap;
  z-index: 11;
}
.d-b {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 6px;
  left: 20vw;
  background: url(./Home/assets/images/9e809305-8a20-489e-a2ba-cc4dac39febe.png)
    no-repeat center;
    /* background: #f00; */
  background-size: cover;
  z-index: 12;
  border-radius: 50%;
}
.arrow {
  position: absolute;
  width: 18px;
  height: 0px;
  top: 11px;
  left: 304px;
  background: url(./Home/assets/images/3b4e9b9a-4ed1-4d01-a391-3088cd84d911.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
}
.rectangle-1 {
  position: absolute;
  width: 40%;
  height: 19px;
  top: 20px;
  left: 212px;
  background: no-repeat center;
  background-size: cover;
  border: 0.5px solid #ffffff;
  transform: rotate(-180deg);
  z-index: 8;
  overflow: hidden;
  border-radius: 18px;
}
.rectangle-2 {
  position: relative;
  width: 0px;
  height: 19px;
  margin: 0px 0 0 0px;
  background: url(./Home/assets/images/8dbab314-ecfb-4e47-a82d-95c57332f1f9.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
  border-radius: 0 18px 18px 0;
}
.flex-row {
  position: relative;
  width: 369px;
  height: 32px;
  /* border: 1px solid red; */
  margin: 19px 0 0 13px;
  z-index: 42;
}
.d-b-3 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -8px;
  left: 25vw;
  background: url(./_40d36eb3-2634-4908-879b-22090de5926e-removebg-preview.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
  border-radius: 50%;
}
.cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 43px;
  height: 21px;
  top: 6px;
  left: 75vw;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 42;
}
.profit-o-hr {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 75px;
  height: 20px;
  top: 7px;
  left: 1%;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 19.951px;
  text-align: center;
  white-space: nowrap;
  z-index: 21;
}
.text-7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 7px;
  height: 16px;
  top: 8px;
  left: 87vw;
  color: #000;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 15.961px;
  text-align: center;
  white-space: nowrap;
  z-index: 22;
}
.o {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 23px;
  height: 44px;
  /* margin: 34px 0 0 203px; */
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 43.568px;
  text-align: center;
  white-space: nowrap;
  z-index: 43;
  left: 50vw;
  top: -40px;
}
.flex-row-d {
  position: relative;
  width: 271px;
  height: 318px;
  margin: 46px 0 0 76px;
  z-index: 18;
}
.img-3 {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 0;
  left: 30vw;
  transform: translate(-50%, 0);
  z-index: 18;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000;
  border: none;
}

.img-3 img{
  width: 155%;
  border-radius: 50%;
}

.ellipse-4 {
  position: absolute;
  width: 270px;
  height: 249px;
  top: 6px;
  left: 0;
  background: url(./Home/assets/images/0785bc82-4406-495c-b661-8f7a678d757b.png)
    no-repeat center;
  background-size: cover;
  filter: blur(45px);
  z-index: 16;
}
.ellipse-5 {
  position: absolute;
  width: 249px;
  height: 249px;
  top: 9px;
  left: 12px;
  background: url(./Home/assets/images/dcb14a21-1407-4923-b69c-d48ae47f7a25.png)
    no-repeat center;
  background-size: cover;
  filter: blur(45px);
  z-index: 15;
  border-radius: 50%;
}
.frame {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 269px;
  height: 269px;
  top: 49px;
  left: 2px;
  padding: 0;
  z-index: 17;
}
.flex-row-b {
  position: relative;
  width: 293px;
  height: 82px;
  margin: 18px 0 0 68px;
  z-index: 25;
}
.group {
  position: absolute;
  width: 42.685px;
  height: 58.785px;
  top: -0;
  left: 2vw;
  background: url(./Home/assets/images/3d65df66-19e2-4a69-9500-d4499f68a2ee.png)
    no-repeat center;
  background-size: cover;
  z-index: 25;
}
.rectangle-6 {
  position: absolute;
  width: 293px;
  height: 79px;
  top: 3px;
  left: -3vw;
  font-size: 0px;
  background: url(./Home/assets/images/3eea898b-b204-4d41-ba95-f4a4aec7f4b4.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
  border-radius: 26px;
  display: flex;
  justify-content: flex-end;
}
.fifty-fifty {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 114px;
  height: 24px;
  margin: 40px 0 0 108px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  top: -10px;
  z-index: 27;
}

.claim{
  flex-grow: 0;
  flex-shrink: 0;
  width: 85px;
  height: 40px;
  position: relative;
  left: -15px;
  top: 25%;
  border-radius: 30px;
  font-weight: 900;
  font-size: large;
  text-transform: uppercase;
}

.energy {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  width: 45.243px;
  height: 15px;
  /* margin: -9px 0 0 21.544px; */
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 14.523px;
  text-align: center;
  white-space: nowrap;
  z-index: 26;
  left: -58vw;
  top: 50px;
}
.rectangle-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 172px;
  height: 51px;
  margin: 43px 0 0 128px;
  background: url(./Home/assets/images/95e22b78-d432-4919-b861-1e9e71578e1b.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
  border-radius: 23px;
  left: -5vw;
}
.boost {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 128px;
  height: 44px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 43.568px;
  text-align: center;
  white-space: nowrap;
  z-index: 30;
}
.rectangle-8 {
  position: fixed;
  top: 75%;
  left: 33px;
  width: fit-content;
  height: 84px;
  margin: 50px 0 0 -24px;
  background: #002e38;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 31;
  overflow: visible auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  /* border: 1px solid #09d6ff; */
}
.frame-9 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15%;
  position: relative;
  width: 100vw;
  margin: 0 0 0 49px;
  z-index: 33;
}
.group-a {
  /* flex-shrink: 0; */
  position: absolute;
  width: 47.47px;
  height: 44.601px;
  background: url(./Home/assets/images/3525589f-fe67-4ea5-a549-88b37220f14a.png)
    no-repeat center;
  background-size: cover;
  z-index: 34;
  left: 40px;
}
.friends {
  flex-shrink: 0;
  position: relative;
  width: 44px;
  height: 27.133px;
  background: url(./Home/assets/images/81db4ea7-e997-4c15-955d-6c178991b505.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
  left: -20px;
}
.vector {
  flex-shrink: 0;
  position: relative;
  width: 47px;
  height: 30.489px;
  background: url(./Home/assets/images/1b73987a-8661-4634-9bc4-9d5eb73533ae.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
  left: -20px;
}
.d-b-b {
  flex-shrink: 0;
  position: absolute;
  width: 40px;
  height: 32px;
  background: url(/_40d36eb3-2634-4908-879b-22090de5926e-removebg-preview.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
  border-radius: 50%;
  left: 50%;
}
.flex-row-bb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 363px;
  height: 19px;
  /* margin: -4.601px 0 0 57px; */
  z-index: 41;
  left: 13%;
}
.mine {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 34px;
  height: 19px;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 18.621px;
  text-align: center;
  white-space: nowrap;
  background: linear-gradient(90deg, #09d6ff, #fa0aff);
  z-index: 38;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.friends-c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 49px;
  height: 19px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 18.621px;
  text-align: center;
  white-space: nowrap;
  z-index: 39;
}
.tasks {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 37px;
  height: 19px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 18.621px;
  text-align: center;
  white-space: nowrap;
  z-index: 40;
}
.airdrop {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 51px;
  height: 19px;
  color: #ffffff;
  font-family: Malgun Gothic, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 18.621px;
  text-align: center;
  white-space: nowrap;
  z-index: 41;
}
.rectangle-d {
  position: absolute;
  width: 451px;
  height: 100vh;
  top: 0;
  left: -13px;
  background: url(./Home/assets/images/bd74ab0d-1341-4885-a875-e2b8494c7063.png)
    no-repeat center;
  background-size: cover;
}

#mainPage{
  width: 100vw;
  height: fit-content;
}

.overlay2{
  width: 100%;
  height: 100vh;
  background: #000000BA;
  position: absolute;
  z-index: 90;
}

.noEnergy{
  width: 80%;
  height: 25%;
  position: absolute;
  top: 37.5%;
  z-index: 110;
  color: #fff;
  background: #68697E;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.boostBtn{
  margin: 0 auto;
}


.hidden{
  display: none;
}

/* Parent progress bar */
.progressBar {
    width: 100%;
    height: 40px; /* Adjust height as needed */
    background-color: #e0e0e0; /* Light background for parent */
    border-radius: 10px;
    position: relative; /* To position child elements absolutely */
    overflow: hidden;
    position: absolute;
    z-index: 100;
    top: 60%;
}

/* Progress rectangles */
.progress {
    height: 100%;
    position: absolute;
    background: #fff;
    top: 0;
    z-index: 120;
    left: 0;
    transition: width 0.3s ease; /* Smooth transition for filling */
}

#rectangle1 {
    background-color: #3498db; /* Blue for rectangle1 */
    z-index: 1; /* Displayed first */
}

#rectangle2 {
    background-color: #e74c3c; /* Red for rectangle2 */
    z-index: 0; /* Hidden under rectangle1 initially */
    display: none; /* Start off hidden until level up */
}


.energyBarContainer {
    width: 300px;
    height: 50px;
    background-color: #e0e0e0; /* Background for the energy bar */
    position: relative;
    overflow: hidden;
}

.energyRect {
    height: 100%;
    position: absolute;
    transition: width 0.5s; /* Smooth transition for width change */
}

#energyRect1 {
    background-color: #76c7c0; /* Color for the first rectangle */
    width: 100%; /* Fill the container initially */
}

#energyRect2 {
    background-color: #ffcc00; /* Color for the second rectangle */
    width: 0%; /* Initially hidden */
}

#currentEnergyDisplay {
    margin-top: 10px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.rectangle-8{
  width: 100%;
  padding: 0;
  /* margin: 0; */
}

.frame-9{
  width: 100%;
}

.mineEl{
  /* width: 50px; */
  position: relative;
  left: -10px;
  border: 1px solid #fff;
}

.fren{
  /* width: 50px; */
  
  position: relative;
  left: -25px;
}

.taskEl{
  /* width: 50px; */
  /* height: 50px; */
  position: relative;
  left: -35px;
}

.aDrop{
  /* width: 50px; */
  /* height: 50px; */
  position: relative;
  left: -50px;
}

#levelHolder{
  width: 50%;
  border: 1px solid #fff;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 55vw;
  align-items: center;
  height: 43px;
  border-radius: 8px;
  /* top: 10px; */
  /* z-index: 100; */
}

#levelImg{
  width: 30px;
}

.levelHolder{
  width: 33.3%;
  /* border: 1px solid; */
}

#pph{
  position: absolute;
  z-index: 50;
  top: 19%;
  width: 100%;
}

#friends iframe{
  width: 100%;
  height: 100vh;
  transition: all 0.8s ease-in-out;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
}

.bodyFp #friends iframe{
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  z-index: 200;
}


#boosts iframe{
  width: 100%;
  height: 100vh;
  transition: all 0.8s ease-in-out;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
}

.bodyBp #boosts iframe{
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  z-index: 200;
}


#tasks iframe{
  width: 100%;
  height: 100vh;
  transition: all 0.8s ease-in-out;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
}

.bodyTp #tasks iframe{
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  z-index: 200;
}

h2{
  position: absolute;
  top: 70%;
  left: 25%;
  z-index: 50;
  color: #fff;
  font-size: 30px;
}